.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-bottom: -15px;
  padding: 0;
}
.item {
  color: #0f548d;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 265.31px;
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 5px;

  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover,
.item:focus {
  transform: scale(1.01);
  box-shadow: 8px 8px 10px rgba(37, 37, 37, 0.6);
}
.thumb {
  background-color: rgb(165, 165, 165);
  background-image: url(../../images/film.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 265.31px;
  height: 398px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}
.img {
  object-fit: cover;
  height: 100%;
}

.link {
  text-decoration: none;
  display: inline-block;
  color: #0f548d;
}
