.background {
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.info {
  display: flex;
  padding: 20px 0;
}
.descr {
  margin-left: 20px;
}
.overview {
  max-width: 500px;
}
.addInfo {
  padding: 20px 0;
  border-top: 1px solid #2a363b;
  border-bottom: 1px solid #2a363b;
}
.link {
  display: inline-block;
  padding: 5px 0;
  color: #0f548d;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #2196f3;
}
