.list {
  padding: 15px;
  margin: 0;
}
.item {
  margin-bottom: 15px;
}
.author {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
.thumb {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
}
.img {
  object-fit: cover;
  height: 100%;
}
.name {
  margin: 0 7px 0;
}
.noMovie {
  display: block;
  padding: 15px 0;
  text-align: center;
}
